{
	"apiVersion": {{apiVersion}},
	"name": "{{namespace}}/{{slug}}",
	"version": "{{version}}",
	"title": "{{title}}",
	"category": "{{category}}",
	"icon": "{{icon}}",
	"description": "{{description}}",
	"supports": {
		"html": false
	},
	"textdomain": "multiple-blocks",
	"editorScript": "file:../../../../build/block-one.js",
	"editorStyle": "file:../../../../build/block-one.css",
	"style": "file:../../../../build/style-block-one.css"
}
