<?php
/**
 * Plugin Name:       {{namespace}}
{{#description}}
 * Description:       {{description}}
{{/description}}
 * Requires at least: 5.8
 * Requires PHP:      7.0
 * Version:           {{version}}
{{#author}}
 * Author:            {{author}}
{{/author}}
{{#license}}
 * License:           {{license}}
{{/license}}
{{#licenseURI}}
 * License URI:       {{{licenseURI}}}
{{/licenseURI}}
 * Text Domain:       {{textdomain}}
 *
 * @package           {{namespace}}
 */

function {{namespaceSnakeCase}}_{{slugSnakeCase}}_block_init() {

	$blocks = array(
		'{{slug}}/'
	);

	foreach ( $blocks as $block ) {
		register_block_type( plugin_dir_path( __FILE__ ) . 'includes/block-editor/blocks/' . $block);
	}
}
add_action( 'init', '{{namespaceSnakeCase}}_{{slugSnakeCase}}_blocks_block_init' );